.nav {
  margin-bottom: 3rem;
  width: 150px;
  margin: auto;
}

.nav hr{
  color: #fff;
  width: 120px;
  margin: 0 auto 1rem;
}

.nav hr:last-child {
  margin: 0 auto 1rem;
}

.nav p {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.nav a {
  font-size: 1rem;
  letter-spacing: 0.625rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 1rem;
  margin-right: -0.625rem; 
} 